@import url(//db.onlinewebfonts.com/c/fe804155ad60a0702537f7e94387964f?family=DuepuntozeroW00-Regular);
@font-face {
  font-family: "DuepuntozeroW00-Regular";
  src: url("//db.onlinewebfonts.com/t/fe804155ad60a0702537f7e94387964f.eot");
  src: url("//db.onlinewebfonts.com/t/fe804155ad60a0702537f7e94387964f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fe804155ad60a0702537f7e94387964f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fe804155ad60a0702537f7e94387964f.woff") format("woff"), url("//db.onlinewebfonts.com/t/fe804155ad60a0702537f7e94387964f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fe804155ad60a0702537f7e94387964f.svg#DuepuntozeroW00-Regular") format("svg");
}
.body-contact {
  margin-top: 3.9rem;
  display: grid;
  grid-template-columns: 34.6rem 1fr;
}
.body-contact .body-right {
  margin-right: 3.6px;
}
.body-contact .body-right .title {
  font-family: "DuepuntozeroW00-Regular";
  padding-left: 0.2rem;
  font-size: 4.1rem;
  text-transform: capitalize;
  font-weight: unset;
  border-bottom: 1px solid #dad5d5;
  padding-bottom: 1.3rem;
}
.body-contact .body-right .detail {
  padding-left: 0.4rem;
  margin-top: 2.2rem;
}
.body-contact .body-right .detail p::first-letter {
  text-transform: capitalize;
}
.body-contact .body-right .detail__text {
  font-size: 1.3rem;
  color: #645a56;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2.1rem;
}
.body-contact .body-right .detail__content {
  display: flex;
  font-size: 1.3rem;
  line-height: 2rem;
  padding-top: 0.2rem;
  font-weight: 600;
  font-family: sans-serif;
  color: #342f2c;
}
.body-contact .body-right .detail__content__number {
  width: 21.7rem;
}
.body-contact .body-right .detail__content__number .phone span {
  margin-left: 2.4rem;
  font-size: 1.3rem;
  color: #7b7b7b;
  font-weight: 100;
}
.body-contact .body-right .detail__content__number .fax span {
  color: #7b7b7b;
  font-weight: 100;
  margin-left: 4.2rem;
  font-size: 1.3rem;
}
.body-contact .body-right .detail__content__text {
  width: 21.7rem;
}
.body-contact .body-right .detail__content__text .skype span {
  margin-left: 2.5rem;
  font-size: 1.3rem;
  color: #7b7b7b;
  font-weight: 100;
}
.body-contact .body-right .detail__content__text .twitter span {
  color: #7b7b7b;
  font-weight: 100;
  margin-left: 2.2rem;
  font-size: 1.3rem;
}
.body-contact .body-right .form-info {
  margin-top: 4.8rem;
  max-width: 46.9rem;
  margin-bottom: 13.7rem;
}
.body-contact .body-right .form-info .item {
  padding-left: 0.2rem;
  margin-bottom: 2.4rem;
}
.body-contact .body-right .form-info .item__title {
  text-transform: uppercase;
  color: #645a56;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
.body-contact .body-right .form-info .item__input {
  width: 100%;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  padding: 0.85rem;
  border: 1px solid #cdc5cf;
  border-radius: 4px;
}
.body-contact .body-right .form-info .item__input:focus {
  border: 1px solid #d09bdd;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.body-contact .body-right .form-info .item .area {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: lighter;
}
.body-contact .body-right .form-info .item-area {
  margin-bottom: 1.1rem;
}
.body-contact .body-right .form-info .btn-submit {
  display: flex;
  justify-content: end;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  transition: all 0.2s linear;
}
.body-contact .body-right .form-info .btn-submit p {
  font-size: 1.1rem;
  background-color: #4e9af1;
  padding: 1rem 2.9rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.4rem;
}
.body-contact .body-right .form-info .btn-submit:hover {
  opacity: 0.7;
}

@media (max-width: 992px) {
  .body-contact {
    grid-template-columns: 1fr;
  }
  .body-contact__left {
    display: none;
  }
  .body-contact .body-right {
    margin-left: auto;
    margin-right: auto;
  }
  .body-contact .body-right .form-info {
    max-width: 40rem;
  }
}
@media (max-width: 600px) {
  .body-contact .body-right {
    padding: 0 20px;
  }
  .body-contact .body-right .form-info {
    max-width: unset;
  }
  .body-contact .body-right .form-info .item__input {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .body-contact .body-right .detail__content {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=contact.css.map */
